#intro {
	font-family: inherit;
	color: #F5EFE9; 
	background-color: #262626 !important;
   	height: 100vh;
	overflow: hidden;
	border: 16px solid #B15353;
	box-sizing: border-box;
	position: flex;
}

#profile-pic-container{
   position: relative;
   height: 100vh;
   margin: 0 auto;
   flex: 0 0 50%;
}

#profile-pic {
   position:absolute;
   max-width: 70vmin;
   max-height: 70vmin;
   border-radius: 50%;
   margin: auto;
   padding: 40px;
   top: 0;
   bottom: 0;
   left: 0;
   flex: 0 0 50%;
}

#i-am-a-container{
   position: absolute;
   height: 100vh;
   margin: 0 auto;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction:column;
   padding-left: 20%;
}
