#intro {
	font-family: inherit;
	color: #F5EFE9; 
	background-color: #262626 !important;
   	height: 100vh;
	overflow: hidden;
	border: 32px solid #B15353;
	box-sizing: border-box;
}

#profile-pic-container{
   position: relative;
   height: 100vh;
   margin: 0 auto;
}

#profile-pic {
   position:absolute;
   max-width: 70vmin;
   max-height: 70vmin;
   border-radius: 50%;
   margin: auto;
   padding: 40px;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
}

#i-am-a-container{
   position: relative;
   height: 100vh;
   margin: 0 auto;
   display: flex;
   justify-content: center;
   flex-direction:column;
}

h1 {
   font-size: 64px !important;
   float: left;
}

h6 {
   font-size: 32px !important;
}


@media screen and (max-width: 950px){
   #intro {
	  font-family: inherit;
	  color: #F5EFE9; 
	  background-color: #262626 !important;
	  height: 100vh;
	  overflow: hidden;
	  border: 16px solid #B15353;
	  box-sizing: border-box;
   }


   #profile-pic-container{
	  position: relative;
	  height: 50vh;
	  margin: 0 auto;
   }

   #profile-pic {
	  position:relative;
	  max-width: 90vmin;
	  max-height: 90vmin;
	  border-radius: 50%;
	  margin-left: auto;
	  margin-right: auto;
	  display: block;
   }

   #i-am-a-container{
	  position: relative;
	  height: 30vh;
	  margin: 0 auto;
	  text-align: center;
   }

   h1 {
	  font-size: 32px !important;
   }

   h6 {
	  font-size: 16px !important;
   }
}
